// bootstrap pagination

.pagination {
    display: flex;
    list-style: none!important;
}

.page-link {
    position: relative;
    display: block;
    padding: $pagination-item-padding-left $pagination-item-padding-right;
    border-radius: $radius;
    color: $pagination-color;
    border: 1px solid $link;

    &:hover {
        z-index: 2;
        color: $pagination-hover-color;
        text-decoration: none;
        border-color: $pagination-hover-border-color;
    }

    &:focus {
        z-index: 3;
    }
}

.page-item {
    &:first-child {
        .page-link {
            margin-left: 0;

        }
    }
    &:last-child {
        .page-link {

        }
    }

    &.active .page-link {
        z-index: 3;
        color: $link-invert;
        background-color: $link;
        border-color: $link;
    }

    &.disabled .page-link {
        color: $pagination-disabled-color;
        pointer-events: none;
        // Opinionated: remove the "hand" cursor set previously for .page-link
        cursor: auto;
        background-color: $pagination-disabled-color;
        border-color: $pagination-disabled-border-color;
    }
}
