<template>
    <div class="content-wrapper">

        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-burger burger" data-target="mainNavbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="mainNavbar" class="navbar-menu">

                    <router-link tag="a" class="navbar-item" :to="{ name: 'create'}">Add new</router-link>
                    <router-link tag="a" class="navbar-item" :to="{ name: 'search'}">Search</router-link>
                    <router-link v-if="$auth.check()" tag="a" class="navbar-item" :to="{ name: 'cabinet'}">My pastes</router-link>

                    <div class="navbar-end">
                        <router-link v-if="!$auth.check()" tag="a" class="navbar-item" :to="{ name: 'login'}">Login</router-link>
                        <a v-if="$auth.check()" class="navbar-item">
                            <a href="#" @click.prevent="$auth.logout()">Logout</a>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="bg-light">
            <div class="container section">
                <div class="columns">
                    <div class="column is-two-third">

                        <router-view></router-view>

                    </div>

                    <div class="column is-one-third">
                        <!--public></public-->
                        <list title="Last 10 pastes" own="false"></list>
                        <list v-if="$auth.check()" title="My 10 last pastes" own="true"></list>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>
<script>
    import List from './List'
    export default {
        name: "App",
        data() {
            return {}
        },
        components: {
            list : List
        },
        methods: {
            logout() {
                this.$auth.logout({
                    makeRequest: true,
                    redirect: {name: 'wellcome'},
                    success() {
                        console.log('success logout');
                    },
                    error() {
                        console.log('error something wrong');
                    }
                });
            },
        }
    }
</script>
