<template>
    <div class="content">
        <h1 class="has-text-centered">My pastes</h1>
        <ul>
            <li v-for="(item, index) in data">
                <router-link :to="{ name: 'show', params: { id: item.hash }}">
                    {{ item.name }}
                </router-link>
                <span v-if="item.user">by {{ item.user.name  }}</span>
                <span>active before {{ item.expiration_time  }}</span>
                <span>access {{ item.access  }}</span>
            </li>
        </ul>

        <pagination :data="paginateData" @pagination-change-page="getData">
            <span slot="prev-nav">&lt; Previous</span>
            <span slot="next-nav">Next &gt;</span>
        </pagination>
    </div>
</template>

<script>
    export default {
        name: "Cabinet",
        data() {
            return {
                has_error: false,
                data: null,
                paginateData: {meta: null}
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData(page = 1) {
                axios
                    .get('pastes', {
                        params: {
                            page: page,
                            own: true
                        }
                    })
                    .then(response => {
                        this.data = response.data.success.data;
                        this.paginateData = response.data.success;
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            }
        }
    }
</script>

<style scoped>

</style>
