<template>
    <div class="content">
        {{ allow_save}}
        <h1  class="has-text-centered">Create new paste</h1>
        <form autocomplete="off" @submit.prevent="storeData">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input v-model="form.name" class="input" type="text" placeholder="Name for code paste">
                        </div>
                        <p class="help">
                            This field is required
                        </p>
                    </div>
                </div>
            </div>

            <div  v-if="$auth.check()"  class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Access</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="form.access">
                                    <option v-for="(item, index) in access_list">{{ item }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Expiration_time</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="form.expiration_time">
                                    <option v-for="item in time_list" v-bind:value="item.value">{{ item.text }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Code</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea v-model="form.text" class="textarea"
                                      placeholder="Paste your code there"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-large is-link is-rounded">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</template>

<script>
    export default {
        name: "Create",
        data() {
            return {
                allow_save: false,
                has_error: false,
                access_list: ['public', 'unlisted', 'private'],
                //todo get it from backend
                time_list: [
                    { text: '10 min', value: 'min10' },
                    { text: '1 hour', value: 'hour1' },
                    { text: '3 hours', value: 'hour3' },
                    { text: '1 day', value: 'day1' },
                    { text: '1 week', value: 'week1' },
                    { text: '1 month', value: 'month1' },
                    { text: 'no limit', value: 'nolimit' }
                ],
                form: {
                    name: null,
                    access: 'public',
                    expiration_time: 'week1',
                    text: null
                }
            }
        },
        methods: {
            storeData() {
                //todo validate
                let url = 'pastes';
                let form = this.form;
                axios
                    .post(url, {
                        name: form.name,
                        access: form.access,
                        expiration_time: form.expiration_time,
                        text: form.text
                    })
                    .then(response => {
                        this.$router.push(response.data.success.hash);
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            }
        }
    }
</script>

<style scoped>

</style>
