<template>
    <div class="content">
        <h1>{{ title }}</h1>
        <ul>
            <li v-for="(item, index) in data">
                <router-link :to="{ name: 'show', params: { id: item.hash }}">
                    {{ item.name }}
                </router-link>
                <span v-if="item.user"> by {{ item.user.name  }}</span>
            </li>
        </ul>
    </div>

</template>

<script>
    export default {
        name: "List",
        data() {
            return {
                has_error: false,
                data: null,
            }
        },
        props: [
            'title',
            'own'
        ],
        mounted() {
            this.getData();
        },
        watch: {
            '$route.params.id': function () {
                this.getData();
            }
        },
        methods: {
            getData(page = 1) {
                let own = this.own;
                axios
                    .get('pastes', {
                        params: {
                            own: this.own
                        }
                    })
                    .then(response => {
                        this.data = response.data.success.data;
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            }
        }
    }
</script>

<style scoped>

</style>
