<template>
    <div class="content">
        <h1 class="has-text-centered">Search paste</h1>

        <form autocomplete="off" @submit.prevent="getData">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input v-model="search" class="input" type="text" placeholder="Name for code paste">
                        </div>
                        <p class="help">
                            Enter name or text in paste
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button v-if="search" class="button is-large is-link is-rounded">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <pagination :data="paginateData" @pagination-change-page="getData">
            <span slot="prev-nav">&lt; Previous</span>
            <span slot="next-nav">Next &gt;</span>
        </pagination>

        <ul>
            <li v-for="(item, index) in data">
                <router-link :to="{ name: 'show', params: { id: item.hash }}">
                    {{ item.name }}
                </router-link>
                <span v-if="item.user">by {{ item.user.name  }}</span>
                <span>active before {{ item.expiration_time  }}</span>
            </li>
        </ul>

    </div>
</template>

<script>
    export default {
        name: "Search",
        data() {
            return {
                has_error: false,
                data: null,
                search: null,
                paginateData: {meta: null}
            }
        },
        methods: {
            getData(page = 1) {
                let search = this.search;
                axios
                    .get('pastes', {
                        params: {
                            search: search,
                            page: page
                        }
                    })
                    .then(response => {
                        this.data = response.data.success.data;
                        this.paginateData = response.data.success;
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            }
        }
    }
</script>

<style scoped>

</style>
