<template>
    <div class="content" v-if="data">
        <h1 >View - {{ data.name }}</h1>

        <prism language="js">
            {{ data.text }}
        </prism>

        <span>created {{ data.created_at }}</span>
        <span v-if="data.user">|by {{ data.user.name }}</span>
        <span>|access {{ data.access }}</span>
    </div>

</template>

<script>
    export default {
        name: "Show",
        data() {
            return {
                has_error: false,
                data: null,
            }
        },

        props: ['id'],
        mounted() {
            this.getData();
        },
        watch: {
            id: function () {
                this.getData();
            }
        },
        methods: {
            getData(page = 1) {
                let url = 'pastes/' + this.id;
                axios
                    .get(url)
                    .then(response => {
                        this.data = response.data.success;
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            }
        }
    }
</script>

<style scoped>
    /*fix for long string in code */
    code {
        white-space: pre-wrap!important;
    }
</style>
