

<template>

    <div class=" has-text-centered has-background-link">
        <div id="fb-root"></div>

        <div class="container hero is-white">
            <!-- Header -->
            <div class="hero-heading">
                <p class="intro-title is-size-2">Login</p>
            </div>
            <!-- Body -->
            <div class="hero-body">
                <form class="container" autocomplete="off" @submit.prevent="login" method="post">
                    <div class="field">
                        <div class="control">
                            <!--v-model="name"-->
                            <input v-model="name" class="input  " id="name" type="text" placeholder="login">

                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <!--v-model="password"-->
                            <input v-model="password" class="input " id="password" type="password" placeholder="your password" >
                        </div>
                    </div>
                    <div class="field">
                    <button type="submit" class="button is-large is-link is-rounded">Login</button>
                    <button v-on:click="social('google')" class="button is-large is-link is-rounded">login with Google</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                context: 'oauth2 context',
                code: this.$route.query.code,
                type: this.$route.params.type,
                name: null,
                password: null,
                has_error: false
            }
        },
        mounted() {
            if (this.code) {
                console.log('we have code in monted');
                this.$auth.oauth2({
                    code: true,
                    provider: this.type,
                    params: {
                        code: this.code,
                    },
                    success: function(res) {
                        console.log('success ' + this.context);
                    },
                    error: function (res) {
                        console.log('error ' + this.context);
                    }
                });
            }
        },
        methods: {
            login() {
                let app = this;
                this.$auth.login({
                    params: {
                        name: this.name,
                        password: this.password
                    },
                    success: function() {
                        // handle redirection
                        const redirectTo = 'create';
                        this.$router.push({name: redirectTo})
                    },
                    error: function() {
                        app.has_error = true
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            },
            social(type) {
                this.$auth.oauth2({
                    provider: type
                });
            }
        }
    }
</script>

<style scoped>
    .section-out{
        margin: -50px;
    }
</style>
