

<template>

    <div class=" has-text-centered has-background-link">
        <!--div class="card"><header class="card-header"><h2 class="card-header-title">What can I do?</h2><hr></header><div class="content"><p>Help Romania's primary forests make their voices heard. Tell their the story. Join Greenpeace Romania and <a href="https://act.greenpeace.org/page/16203/action/1" target="_blank">sign the petition</a> asking the Ministry of Waters and Forests to protect this invaluable national, European and world heritage. Donate and download the album to help us spread their beautiful song and keep it alive.</p><a class="button is-white" href="https://act.greenpeace.org/page/16203/action/1" target="_blank"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <span>Sign the petition</span></a></div></div-->
        <div class="container hero is-white">
            <!-- Header -->
            <div class="hero-heading">
                <p class="intro-title is-size-2">Login/Register</p>
            </div>
            <!-- Body -->
            <div class="hero-body">
                <form class="container" autocomplete="off" @submit.prevent="login" method="post">
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <!--v-model="name"-->
                            <input v-model="name" class="input is-large is-expanded" id="name" type="text" placeholder="login or email">
                            <span class="icon is-medium is-left">
                                <i class="fas fa-envelope fa-lg"></i>
                            </span>
                            <span class="icon is-medium is-right">
                                <i class="fas fa-check fa-lg"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <!--v-model="password"-->
                            <input v-model="password" class="input is-large is-expanded" id="password" type="password" placeholder="your password" >
                            <span class="icon is-medium is-left">
                                <i class="fas fa-envelope fa-lg"></i>
                            </span>
                            <span class="icon is-medium is-right">
                                <i class="fas fa-check fa-lg"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="button is-large is-link is-rounded">Login</button>
                </form>
            </div>
        </div>
    </div>

</template>
<script>
    export default {
        data() {
            return {
                name: null,
                password: null,
                has_error: false
            }
        },
        mounted() {
            //
        },
        methods: {
            login() {
                // get the redirect object
                var redirect = this.$auth.redirect();
                var app = this;
                this.$auth.login({
                    redirect: {name: 'filter'},
                    params: {
                        name: this.name,
                        password: this.password
                    },
                    success: function() {
                        // handle redirection
                        const redirectTo = 'filter';
                        this.$router.push({name: redirectTo})
                    },
                    error: function() {
                        app.has_error = true
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>

<style scoped>
    .section-out{
        margin: -50px;
    }
</style>
